<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль ученика</title>{% load static %}  
<link rel="stylesheet" type="text/css" href="{% static 'css/inform.css' %}">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <h1>Профиль ученика</h1>
            </div>
             <nav class="nav">
                 <form method="post" action="/logout/">
                    {% csrf_token %}
                    <button type="submit" class="button-logout">Выйти</button>
                 </form>
            </nav>
        </header>
        <main class="main">
            <aside class="sidebar">
                <div class="profile-card">
                    {% if image %}
  <img src="{{ image }}" alt="Фото профиля" class="profile-image">
{% else %}
  <img src="{{ image }}" alt="Фото профиля" class="profile-image">
{% endif %}
                     <h2 class="profile-name">
                       {% if first_name or last_name %}
                            {{ first_name }} {{ last_name }}
                        {% else %}
                            {{ username }}
                        {% endif %}
                    </h2>
                    <p class="profile-info">@{{ username }}</p>
                </div>
                <nav class="sidebar-nav">
                    <a href="{% url 'courses_list' %}" class="sidebar-link">Список курсов</a>
                    <a href="{% url 'subscribed_courses' %}" class="sidebar-link">Мои курсы</a>
                    <a href="{% url 'user_test_results' %}" class="sidebar-link">Результаты тестов</a>
                </nav>
            </aside>
            <section class="content">
                <div class="dashboard">
                    <h2>Информация профиля</h2>
                    <div class="dashboard-grid">
                        <div class="dashboard-item">
                            <h3>Email</h3>
                            <p>{{ email }}</p>
                        </div>
                        <div class="dashboard-item">
                            <h3>Логин</h3>
                            <p>{{ username }}</p>
                        </div>
                    </div>
                </div>
                <div class="recent-activity">
                    <h2>Ссылки</h2>
                     <div class="activity-list">
                          <div class="activity-item">
                            <a href="{% url 'courses_list' %}" target="_blank" class="content-link">Список курсов</a>
                         </div>
                          <div class="activity-item">
                             <a href="{% url 'subscribed_courses' %}" target="_blank"  class="content-link">Мои курсы</a>
                         </div>
                          <div class="activity-item">
                             <a href="{% url 'user_test_results' %}" target="_blank" class="content-link">Результаты тестов</a>
                         </div>
                     </div>
                </div>
            </section>
        </main>
         <footer class="footer">
           <p>&copy; 2024 Профиль ученика</p>
        </footer>
    </div>
</body>
</html>