<!DOCTYPE html>
<html>
<head>
    <title>Профиль учителя</title>
    <style>
        /* Добавьте немного стилей */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
        }
        form {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Профиль Менеджера</h1>
    <p>Email: {{ email }}</p>
    <p>Логин: {{ username }}</p>
    <p>Имя: {{ first_name }}</p>
    <p>Фамилия: {{ last_name }}</p>

    {% if logged_in %}
        <form method="post" action="/logout/">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    {% endif %}
    <a href="{% url 'courses' %} " target="_blank" class="button">пример</a>
</body>
</html>